# Arquivos do sistema
.DS_Store

# Ambiente virtual Python
.venv/
__pycache__/
*.pyc

# Pastas excluídas
automatizacoes_de_download/
scripts_processamento/audios/
**/audios/

# Outros arquivos que podem ser grandes
*.wav
*.mp3
*.m4a
*.ogg 